body {
  margin: 0px;
}

nav {
  background-color: black;
  color: white;
  font-size: 18px;
  margin-bottom: 15px;
  width:80%;
}

.sitetitle {
  color: #000000;
  font-family: alternate gothic, oswald, sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
.logo 
  width: 15px;
}

.sitemotto {
  color: #000000;
  font-family: Helvetica, sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-style: italic;
}

article {
  margin-right:15%;
  width: 100%;
  font-family: Pensum, Times New Roman, serif;
  text-align: left;
}

header {
    font-family: AlternateGothic, Oswald, sans-serif;
    font-size: 20px;
    font-style: bold;
  }

.logo {
  width: 45%;
  height: 45%;
}

h1 {
  font-size: 30px;
  font-style: bold;
  text-align: center;
  font-family: helvetica, san-serif
}

.images {
  width: 40%;
  height: 65%;
}

.byline {
  font-weight: bold;
  font-style: italic;
}

.tdpad {
  padding: 15px;
}

article > p {
  font-family: Pensum, Times New Roman, serif;
  font-size: 20px;
}

.story_image {
  width: 20%;
}

.caption {
  color: gray;
  font-size: 14px;
  margin-top: 5px;
}

footer {
  margin-top: 30px;
  font-family: Pensum, Times New Roman, sans-serif;
  margin-left: 10%;
  margin-right:10%;
}

footer > p {
  font-size: 14px;
  color: #666;
  margin-left: 10%;
  margin-right:10%;
}

a {
  color: whitesmoke;
}

a:hover {
  color: #FFFFFF;
  text-decoration-color: #FFFFFF;
}
